@import url('contatti.css');
@import url('blog.css');

.title {
    color: red;
}
.navbar {
    color: red;
}
.blog {
    background-color: lightgray;
}
.servizi {
    background-color: lightblue; 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

div {
    background-color: yellow;
    border: 10px solid red;
}


li {
    list-style: none;
    display: inline-block;
    width: 100px;
}


.title {
    color: red;
}

p {
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 15px;
}

:hover div {
    background-color: orange;
    display: none;
}