@import url('contatti.css');
@import url('blog.css');

.title {
    color: red;
}
.navbar {
    color: red;
}
.blog {
    background-color: lightgray;
}
.servizi {
    background-color: lightblue; 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

div {
    background-color: yellow;
    border: 10px solid red;
}

/*
    li {
        list-style: none;    Rimuove i punti elenco dalle liste 
    }
*/